body {
	font-family: sans-serif;
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background: #903334;
	background: linear-gradient(180deg, #903334, #3e0c0d);
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
